@page "/"
@inject IRepository repository

<div>
    <h3>Movie</h3>
    <MoviesList Movies="@_movies"/>
</div>

@code{
    private List<Movie> _movies;

    protected override void OnInitialized()
    {
        _movies = repository.GetMovies();
        base.OnInitialized();
    }

}