@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="@_movies"/>
    
</div>

<div>
    <h2>Create a movie</h2>
    
    <DummyTextBox placeholder="some placeholder" disabled="true"/>

    <DummyTextBox @attributes="@TextBoxParameters"/>
</div>


@code{

    protected override async  Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        _movies = new List<Movie>
        {
            new Movie {Title = "Spiderman: Far from Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie {Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie {Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
        base.OnInitialized();
    }

    private List<Movie> _movies;

    private static Dictionary<string, object> TextBoxParameters => new Dictionary<string, object> {
        {"placeholder", "some placeholder"},
        {"disabled", "true"}};

}