@page "/"

<div>
    <h3>Movie</h3>
    <MoviesList Movies="@_movies"></MoviesList>
</div>

@code{

    protected override void OnInitialized()
    {
        _movies = new List<Movie>
        {
            new Movie {Title = "Spiderman: Far from Home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie {Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie {Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };
        base.OnInitialized();
    }

    private List<Movie> _movies;
}