@inherits LayoutComponentBase


<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">

        <CascadingValue Value="@_appState" >
            @Body
        </CascadingValue>
        <span style="color: red">This is from layout Component</span>
    </div>
</div>


@code {
    readonly AppState _appState = new AppState();

    public class AppState
    {
        public string Color { get; set; } = "blue";
        public string Size { get; set; } = "10px";
    }

}