@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies" Context="movie">
        <ElementTemplate>
            <IndividualMovie Movie="@movie" DeleteMovie="DeleteMovie"/>
        </ElementTemplate>
    </GenericList>
</div>


@code {
    [Parameter]
    public List<Movie> Movies { get; set; }

    Movie _movieToBeDeleted;

    private async Task DeleteMovie(Movie movie)
    {
        await js.MyFunction("custom message");

        var confirm = await js.Confirm($"you sure {movie.Title}?");

        if (confirm)
        {
            Movies.Remove(movie);
        }
    }
}